body{
	margin:0 0;
	background-color: #E1F5FE;
}
nav{
	display: flex;
	justify-content: flex-start;
	font-size: 20px;
	height:100px;
	flex-wrap: wrap;
	align-content: flex-end;
	background-size: cover;
	position: center;
	margin:auto 0;
	background-color: #263238;
	
}
input{
	width: 100px;
	height:25px;
	border-radius: 4px;
	border-color: teal;
}
a{
	padding:50px;
	text-decoration: none
}
a:hover{
	background-color:#607D8B;
	border-bottom: 10px solid green;
}
form{
	padding: 50px;
}