body{
	background-color:#EEEEEE;
	text-align:center;
	height:100vh;
	width:100vw;
	
}
h3{
	padding:30px ;
}
#container{
	width: 30%;
	height: 70%;
	border:none;
	background: #E0E0E0;
	margin:70px auto;	
	box-shadow: 5px 10px 8px #888888;
	font-family: 'Barlow Condensed', sans-serif;	
}
}
input{
	border-radius:7px;
}
i{
	width:20px;
	height:20px;
	color: #0614eb;
}
input[type="submit"]:hover,[type="reset"]:hover{
	transition: 0.5s ease-in-out;
	background: #5C6BC0;
	color: white;
}
i[class="fa fa-google"]{
	color: red;
}
i[class="fa fa-twitter"]{
	color: #06caf1;
}