body{
	background-color:#F5F5F5;/*#EEEEEE;*/
	text-align:center;
	height:100vh;
	width:100vw;
	
}
h3{
	padding:30px ;
}
#container{
	width: 30%;
	height: 70%;
	border:1px solid #FF0048;
	/*background: #E0E0E0;*/
	margin:70px auto;	
	/*box-shadow: 5px 10px 8px #888888;*/
	font-family: 'Barlow Condensed', sans-serif;	
}
}
input{
	border-radius:7px;
}
input:hover{
	box-shadow: 1px 1px 1px #3ea0f3 inset, -1px -1px 1px #3ea0f3 inset;
	background-color: #EEEEEE;
}
i{
	width:20px;
	height:20px;
	color: #0614eb;
}
input[type="submit"]:hover,[type="reset"]:hover{
	transition: 0.5s ease-in-out;
	background: #5C6BC0;
	color: white;
}
i[class="fa fa-google"]{
	color: red;
}
i[class="fa fa-twitter"]{
	color: #06caf1;
}
button{
	padding: 0px 10px;
	height: 30px;
	border:none;
	background-color: #66BB6A;
	color: #424242;
	font-size: 14px;
	
}
button:hover{
	color: white;
	background-color: green;
	transform:translateX(0.5px);
	transition:.35s ease-in-out;
	cursor: pointer;
}