.lftside
{
	width:500px;
	height:500px;
	background-color:#80CBC4;
	float:left;
	margin-top:0px;
}
.rtside
{
	width:500px;
	height:500px;
	background-color:#A5D6A7;
	float:right;
	margin-top:0px;
}
.add
{
	width:570px;
	height:30px;
	position:absolute;
	top:580px;
	right:320px;
	font-size:20pt;
}
input{
        border-radius:7px;
}
input:hover{
        box-shadow: 1px 1px 1px #3ea0f3 inset, -1px -1px 1px #3ea0f3 inset;
        background-color: #00C853;
	color: #ffffff;
	transition: 0.5s ease-in-out;
}
